//Global color
$primary: red;

$secondary: #2566FF;
$secondary2: #0084FF;
$secondary_light: #C1FAFF;

$black:#000000 ;
$black_70:#2A272A ;
$black_60:#4B4A54 ;
$black_50:#677381 ;
$black_35: #82A0AA;
$black_20: #A3CFCD;

$success: #00DF78;
$danger: #FF0006;
$info:#75FFC3 ;
$warning: #FF9200;

