<div class="allpage">
  <nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-1" style="padding-left: 0px;">
      <li class="inline-flex items-center">
        <a routerLink="/dashboard"
          class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-black">
          <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
            </path>
          </svg>
          Acceuil
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path>
          </svg>
          <a routerLink="navire/cmd"
            class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-black">
            Historique bulletins
          </a>
        </div>
      </li>
    </ol>
  </nav>
  <h5>Historique des bulletins de prestation</h5>
  <hr>
  <div class="mb-4">
    <mat-accordion>
      <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        [expanded]="panelOpenState">
        <mat-expansion-panel-header class="bg-gray-100">
          <mat-panel-title class="font-medium">
            <div class="text-[18px] text-[#928f8f] font-medium">Filtres</div>
          </mat-panel-title>
          <mat-panel-description class="flex justify-end  font-medium text-red-600">
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form class="flex flex-column items-start w-full   mt-0 pb-2 pt-2 pr-8 pl-2  rounded-2xl  bg-card"
          [formGroup]="cmdFilter">
          <div class="flex flex-row w-full">
            <mat-form-field class="w-full mr-10">
              <mat-label>Nº bulletin de prestation</mat-label>
              <input [autocomplete]="'off'" formControlName="numeroCmd" matInput>
            </mat-form-field>
            <mat-form-field class="w-full mr-10">
              <mat-label>Nº escale</mat-label>
              <input [autocomplete]="'off'" formControlName="numeroEscale" matInput>
            </mat-form-field>
            <mat-form-field class="w-full mr-10">
              <mat-label>Code de client</mat-label>
              <input [autocomplete]="'off'" formControlName="codeClient" matInput>
            </mat-form-field>
            <mat-form-field class="w-full mr-10">
              <mat-label>Nom client</mat-label>
              <input [autocomplete]="'off'" formControlName="nomClient" matInput>
            </mat-form-field>
          </div>
          <div class="flex items-center justify-end w-full pt-3 mt-3  mb-1 mr-4">
            <button class="bg-[#928f8f] hover:bg-[#a09e9e] text-white leading-6 text-base border border-gray-300 font-['Helvetica Neue'] focus:outline-none mr-1 py-0.5 px-3 rounded  font-medium text-sm flex"
              (click)="reset()">
              <div>Annuler</div>
            </button>
            <button class="bg-[#1F9CDB] hover:bg-[#1F9CDB] text-white leading-6 text-base border border-gray-300 font-['Helvetica Neue'] focus:outline-none py-0.5 px-3 rounded  font-medium text-sm flex"
              >
              <div>Recherche</div>
            </button>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class=" bg-card shadow rounded-2xl mt-1 ">
    <table class="bg-card rounded-xl" mat-table [dataSource]="data">
      <ng-container matColumnDef="numbp">
        <th mat-header-cell *matHeaderCellDef>Numéro BP</th>
        <td mat-cell *matCellDef="let element"> {{element.numeroBulletinPrestation}} </td>
      </ng-container>
      <ng-container matColumnDef="cpa">
        <th mat-header-cell *matHeaderCellDef>Code CPA</th>
        <td mat-cell *matCellDef="let element"> {{element.codeCpa}} </td>
      </ng-container>
      <ng-container matColumnDef="codeO">
        <th mat-header-cell *matHeaderCellDef>Code Op</th>
        <td mat-cell *matCellDef="let element"> {{element.codeOperation}} </td>
      </ng-container>
      <ng-container matColumnDef="codeC">
        <th mat-header-cell *matHeaderCellDef>Code client</th>
        <td mat-cell *matCellDef="let element"> {{element.codeClient}} </td>
      </ng-container>
      <ng-container matColumnDef="nomC">
        <th mat-header-cell *matHeaderCellDef>Nom client</th>
        <td mat-cell *matCellDef="let element"> {{element.nomClient}} </td>
      </ng-container>
      <ng-container matColumnDef="numE">
        <th mat-header-cell *matHeaderCellDef>Numéro Escale</th>
        <td mat-cell *matCellDef="let element"> {{element.numeroEscale}} </td>
      </ng-container>
      <ng-container matColumnDef="codeO1">
        <th mat-header-cell *matHeaderCellDef>Code Op1</th>
        <td mat-cell *matCellDef="let element"> {{element.codeOperation1}} </td>
      </ng-container>
      <ng-container matColumnDef="codeO2">
        <th mat-header-cell *matHeaderCellDef>codeOperation2</th>
        <td mat-cell *matCellDef="let element"> {{element.codeOperation2}} </td>
      </ng-container>
      <ng-container matColumnDef="codeO3">
        <th mat-header-cell *matHeaderCellDef>code Op3</th>
        <td mat-cell *matCellDef="let element"> {{element.codeOperation3}} </td>
      </ng-container>
      <ng-container matColumnDef="codeNP">
        <th mat-header-cell *matHeaderCellDef>Code NP</th>
        <td mat-cell *matCellDef="let element"> {{element.codeNaturePrestation}} </td>
      </ng-container>
      <ng-container matColumnDef="numF">
        <th mat-header-cell *matHeaderCellDef>Num facture</th>
        <td mat-cell *matCellDef="let element"> {{element.numeroFacture}} </td>
      </ng-container>
      <ng-container matColumnDef="dateLF">
        <th mat-header-cell *matHeaderCellDef>Date limite facture</th>
        <td mat-cell *matCellDef="let element"> {{element.dateLimiteFacture}} </td>
      </ng-container>
      <ng-container matColumnDef="longueur">
        <th mat-header-cell *matHeaderCellDef>Longueur navire</th>
        <td mat-cell *matCellDef="let element">{{element.shipLength}} </td>
      </ng-container>
      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let element">
          <div class="flex justify-center">
            <ng-container *ngIf="element.status == 'SENT'">
              <button [disabled]="true"
                class="bg-blue-500 font-medium w-2.5 h-2.5 rounded-full mr-1.5 mt-1 shadow-md"></button>
              <div class="text-blue-500 font-medium ">Envoyé</div>
            </ng-container>
            <ng-container *ngIf="element.status == 'CANCELED'">
              <button [disabled]="true"
                class="bg-red-500 font-medium w-2.5 h-2.5 rounded-full mr-1.5 mt-1 shadow-md"></button>
              <div class="text-red-500 font-medium ">Annulé</div>
            </ng-container>
            <ng-container *ngIf="element.status == 'PRECANCELED'">
              <button [disabled]="true"
                class="bg-red-500 font-medium w-2.5 h-2.5 rounded-full mr-1.5 mt-1 shadow-md"></button>
              <div class="text-red-500 font-medium ">Préannulé</div>
            </ng-container>
          </div>
        </td>
      </ng-container>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns2.length">
          Aucune correspondance
        </td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row (click)="onClick(row.numeroCmd)" *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageSize" [pageIndex]="pageIndex"
      (page)="onPageChange($event)" [length]="dataLength" aria-label="Select page size" class="pagination">
    </mat-paginator>
  </div>
</div>